@{
    ViewBag.Title = "About us";
}
<h2 class="text-center">@ViewBag.Title</h2>

<div style="margin:20px 0;">
    <span style="font-weight:bold;font-size:23px; display:block;margin-bottom:5px;">About Company</span>
    Thanks to God, we are a group of Egyptian minds that seek God's will to create the best ideas that promote the company and customers, thus improving the level of services provided to them. We present a mix of expertise accumulated in the world of software, technical innovation and technological innovation, where subtle innovation is combined with outstanding simplicity at the same time.
</div>

<div style="margin:20px 0;">
    <span style="font-weight:bold;font-size:23px; display:block;margin-bottom:5px;">
        Our Vision
    </span>
    The company's vision is one of the most important motivations for demonstrating the company in a distinct and sophisticated way in the labor market, especially to its customers. Our vision is always based on supporting and actively contributing customers' interests to their business development by providing premium services such as:
    <ul>
        <li>always maintain the improvement and development of the after-sales service</li>
        <li>create and implement new and distinct ideas in ways that make them most profitable</li>
        <li>promote and market prominently for their business</li>
    </ul>
  
</div>
